.btn-common {
  font-family: "Tilt Warp", cursive;
  font-size: 1.1rem;
  border: 2px #000 solid;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
  background-color: transparent;

  a {
    color: #000;
    text-decoration: none;
  }
}
